<div class="row">
    <div class="small-10 small-offset-1 large-6 large-offset-3">
        <ul class="tabs" data-tab>
            <li class="tab-title active"><a href="#login">Log into your account</a></li>
            <li class="tab-title"><a href="#signup">Create a new account</a></li>
        </ul>

        <div class="tabs-content">
            <div class="content active" id="login">
            <%= form_for empty_user, url: login_path do |f|%>
                <%= f.label :identifier do %>
                    Username
                    <%= f.text_field :identifier %>
                <% end %>

                <%= f.label :password, 'Password' do %>
                    Password
                <%= f.password_field :password %>
                <% end %>

                <div class="text-right">
                    <%= f.submit "Login", class: 'button success' %>
                </div>
            <% end %>
            </div>

            <div class="content" id="signup">
            <%= form_for empty_user, url: login_path do |f|%>
                <%= f.label :identifier do %>
                    Username
                    <%= f.text_field :identifier %>
                <% end %>

                <%= f.label :password, 'Password' do %>
                    Password
                    <%= f.password_field :password %>
                <% end %>

                <%= f.label :confirmation do %>
                    Confirm Password
                    <%= f.password_field :confirmation %>
                <% end %>

                <div class="text-right">
                    <%= f.submit "Sign up", class: 'button success' %>
                </div>
            <% end %>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <%= link_to '/auth/google_oauth2', class: 'button small-10 small-offset-1 large-offset-3 large-6 text-center columns' do %>
        <i class="fa fa-google"></i> Log in with Google
    <% end %>
</div>
<div class="row">
    <%= link_to '/auth/facebook', class: 'button small-10 small-offset-1 large-offset-3 large-6 text-center columns' do %>
        <i class="fa fa-facebook"></i> Log in with Facebook
    <% end %>
</div>
